#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;
  height: 1100px;

}

.header {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 200px;
}

#progress {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  align-items: center;

  .placeholder {
    width: 18%;
  }

  .rectangle {
    height: 24px;
    width: 100%;
    border: 1px solid #6b6375;
    border-radius: 5px;
    background-color: #ded8c2;
  }

  .magnifyingGlass {
    align-self: center;
    display: inline;
  }

  .guess {
    color: #9d00ff;
    font-weight: 400;
  }

  button {
    width: 90px;
    height: 24px;

    background-color: #9d00ff;
    color: #ded8c2;
    border-radius: 5px;
    border: 1px solid #6b6375;
    font-weight: bolder;
  }

  button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}
